body {
    --indigo-dye: #134074ff;
    --prussian-blue: #13315cff;
    --oxford-blue: #0b2545ff;
    --cadet-grey: #8da9c4ff;
    --mint-cream: #eef4edff;
    --dark-grey: #333;
    --off-white: #f2f2f2;

    background-color: var(--mint-cream);
    color: var(--indigo-dye);
    margin: 0;
}

h1, h2, h3 {
    font-family: Arial;
    font-style: italic;
    font-variant: small-caps;
    color: var(--indigo-dye);
}

a {
    color: var(--oxford-blue);
    background-color: transparent;
}

a:hover, a:focus {
    color: var(--prussian-blue);
}

ul {
    list-style-type: square;
}

.header {
    margin: 0;
    display: flex;

    background-color: var(--dark-grey);
    overflow: hidden;

    justify-content: space-between;
}

#header-items {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

.header a {
    margin: 0;
    padding: 1.5em 1.2em;
    border: none;
    
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: var(--off-white);
}


.header a:hover {
    background-color: var(--off-white);
    color: var(--dark-grey);
}

.header a.active {
    background-color: var(--indigo-dye);
    color: white;
  }

.header h1 {
    margin: 0;
    padding: 0.4em;
    color: var(--off-white);

    margin: auto 0;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header h1 {
        cursor: pointer;
    }

    .header, #header-items {
        flex-direction: column;
    }

    #header-items {
        display: none;
    }
}

.content {
    padding: 0.7em;
}

.thing {
    width: max-content;
    background-color: white;
    margin: 1em;
}

.thing-button {
    padding: 0.2em;
    border: 0.2em solid var(--prussian-blue);
    font-size: 1em;
    cursor: pointer;
}

.thing-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: var(--mint-cream);
    padding: 1em;
    border: 0.2em solid;
}

.thing-container {
    display: flex;
    flex-direction: column;
}

.thing-letter-container {
    display: flex;
    flex-wrap: wrap;
}

.reviews {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.review {
    padding: 0.2em;
    margin-top: 1em;
    background-color: var(--cadet-grey);
    height: max-content;
}

.rating {
    font-weight: bold;
    float: right;
}

.stamp {
    font-variant: small-caps;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    text-align: left;
    width: auto;
}

.search {
    display: block;
}

.search * {
    border-radius: 0;
}
