{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <title>{% block title %}Thing Review{% endblock %}</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% block css %}{% endblock %}" rel="stylesheet">
    
    <script src="{% static 'js/script.js' %}"</script>
    <script src="{% block js %}{% endblock %}"</script>
</head>
<body>
    <div class="header">
        <h1>{% block header %}{% endblock %}</h1>
        <div class="header-items">
            <a href="{% url 'things:index' %}">Home</a>
            <a href="{% url 'things:things' %}">View All</a>
            <a href="{% url 'things:make_thing' %}">Create</a>
            <a href="{% url 'things:search' %}">Search</a>
        </div>
    </div>
    <div class="content">
    {% block body %}{% endblock %}
    </div>
</body>
</html>
